@charset "UTF-8";

body{
    background-color: #E8E1D2;
    font-family: Arial;
    font-size: 20px;
}

h1{
    color: black;
    background-color:;
}

h2{
    color: black;
}

p{
    text-align: justify;
}