@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@font-face {
    font-family: 'Bigodes';
    src: url('fonts/Keep\ Cheese.otf') format('opentype'), url(fonts/Keep\ Cheese.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gatinhos Silhueta';
    src: url(fonts/kitty\ cats.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #E8E1D2, #B29462);
    font-size: 16px;
    margin: 20px;
    padding: 10px;}

nav{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #004F2D;
    border-radius: 10px;}

nav > a{
    text-decoration: none;
    font-weight: bold;
    color: #E8E1D2;
    margin-right: 10px;}

nav > a:hover{
    text-decoration: underline;}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #9d7f4aa0;
    width: 600px;
    padding: 10px;
    margin: 30px auto;}

h1{
    color: #AC3931;
    text-shadow: 1px 1px 0px #551b18bf;
    font-family: 'Bigodes', cursive;
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.518);
    text-align: center;}

h2{
    color:#B29462;
    font-family: Arial, sans-serif;
    display: inline;}

h2 span
{
    color:#B29462;
    font-family: 'Gatinhos Silhueta', Arial, sans-serif;}

p{
    text-align: justify;
    text-indent: 30px;}

footer{
    font-family: Arial, sans-serif;
    background-color: #004F2D;
    color: #E8E1D2;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 20px;}

footer > p{
    text-align: center;}

/* colors
#091E05
#004F2D
#AC3931

Ordem shorthand font
- font-style font-weight font-size font-family