@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@font-face {
    font-family: 'Bigodes';
    src: url('fonts/Keep\ Cheese.otf') format('opentype'), url(fonts/Keep\ Cheese.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gatinhos Silhueta';
    src: url(fonts/kitty\ cats.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #E8E1D2, #B29462);
    font-size: 16px;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #9d7f4aa0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #AC3931;
    text-shadow: 1px 1px 0px #551b18bf;
    font-family: 'Bigodes', cursive;
    text-align: center;
}

h2{
    color:#B29462;
    font-family: Arial, sans-serif;
    display: inline;
}

h2 span
{
    color:#B29462;
    font-family: 'Gatinhos Silhueta', Arial, sans-serif;
}

p{
    text-align: justify;
    text-indent: 30px;
}

/* colors
#091E05
#004F2D
#AC3931

Ordem shorthand font
- font-style font-weight font-size font-family